$headerHeight: 56px;
$logoScale: 0.8;
$logoHeight: $headerHeight * $logoScale;
$logoPadding: $headerHeight * (1 - $logoScale) / 2;
$fontSize: 14px;
$normalShadow: 1px 1px 12px rgba($color: #000000, $alpha: 0.12);

// MIXIN
@mixin noMarginPadding() {
  margin: 0;
  padding: 0;
}

@mixin normalizeList() {
  @include noMarginPadding();
  list-style: none;
}

@mixin centerContent() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mute {
  color: rgba($color: #000000, $alpha: 0.6)
}

.quote {
  font-style: italic;
}

// END-MIXIN

// COMMON
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
      box-sizing: inherit;
  }
}

a {
  text-decoration: none;
  color: rgba($color: #FF3300, $alpha: 0.8)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
// END-COMMON

body {
  @include noMarginPadding();
  font-size: $fontSize;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // Component: Header
  header {
    background-color: rgba($color: #FFF, $alpha: 1.0);
    position: fixed;
    top: 0;
    height: $headerHeight;
    overflow: hidden;
    box-shadow: $normalShadow;
    display: flex;
    width: 100%;

    .logo-web-name {
      display: flex;

      .logo {
        padding: $logoPadding;

        img {
          height: $logoHeight;
          width: $logoHeight;
        }
      }

      .web-name {
        @include noMarginPadding();
        line-height: $headerHeight;
        text-transform: uppercase;
        font-size: 1.1rem;
        padding: 0 8px;
        white-space: nowrap;
      }
    }

    .slogan {
      @include noMarginPadding();
      font-size: 0.7rem;
      line-height: $headerHeight;
    }

    // Component: HeaderNav
    .menu {
      @include centerContent();
      flex: 1 1 auto;
      text-align: right;
      align-items: flex-end;
      padding: 0 8px;

      ul {
        @include noMarginPadding();
        list-style: none;

        li {
          a {}
        }
      }
    }
  }

  main {
    margin-top: $headerHeight;
    padding: 24px;
    flex-grow: 1;
    // flex-shrink: 0;

    // Component: Posts
    .list-posts {
      @include normalizeList();

      .blog-item {
        margin-bottom: 12px;

        .date-publish {
          margin-right: 8px;
        }

        .tags {
          margin-right: 8px;
        }

        .blog-name {
          display: block;
          margin-top: 4px;
          font-size: 1rem;
          line-height: 1.1rem;
        }
      }
    }

    // Component: Pager
    .pager {
      text-align: center;
      margin-top: 24px;
      span {
        margin: 4px;
      }
    }
  }

  footer {
    padding: 8px;
    box-shadow: $normalShadow;
    text-align: center;
    // background-color: rgba($color: #FFF, $alpha: 0.5);
    span {
      font-size: 0.7rem;
    }
  }

}
