.mute {
  color: rgba(0, 0, 0, 0.6);
}

.quote {
  font-style: italic;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

*:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: rgba(255, 51, 0, 0.8);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body header {
  background-color: white;
  position: fixed;
  top: 0;
  height: 56px;
  overflow: hidden;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.12);
  display: flex;
  width: 100%;
}

body header .logo-web-name {
  display: flex;
}

body header .logo-web-name .logo {
  padding: 5.6px;
}

body header .logo-web-name .logo img {
  height: 44.8px;
  width: 44.8px;
}

body header .logo-web-name .web-name {
  margin: 0;
  padding: 0;
  line-height: 56px;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 0 8px;
  white-space: nowrap;
}

body header .slogan {
  margin: 0;
  padding: 0;
  font-size: 0.7rem;
  line-height: 56px;
}

body header .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  text-align: right;
  align-items: flex-end;
  padding: 0 8px;
}

body header .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body main {
  margin-top: 56px;
  padding: 24px;
  flex-grow: 1;
}

body main .list-posts {
  margin: 0;
  padding: 0;
  list-style: none;
}

body main .list-posts .blog-item {
  margin-bottom: 12px;
}

body main .list-posts .blog-item .date-publish {
  margin-right: 8px;
}

body main .list-posts .blog-item .tags {
  margin-right: 8px;
}

body main .list-posts .blog-item .blog-name {
  display: block;
  margin-top: 4px;
  font-size: 1rem;
  line-height: 1.1rem;
}

body main .pager {
  text-align: center;
  margin-top: 24px;
}

body main .pager span {
  margin: 4px;
}

body footer {
  padding: 8px;
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.12);
  text-align: center;
}

body footer span {
  font-size: 0.7rem;
}
